body{
/*   position: relative;*/
  background-color: #000000;
  font-family: 'Garamond', serif;
  color: #ffffff;
  height: 100%;
  max-width: 100%;
}

.mainTitle {
  position: absolute;
  width: 100%;
  /* position: relative; */
  display: flex;
  transform: translate(0%, 20%);
  align-items: center;
  height: 50px;
}

.mainTitleLoader {
  width: 5%;
  height: inherit;
  background: #fc0;
  position: absolute;
  animation: mainTitleLoader 2s cubic-bezier(.74, .06, .4, .92) forwards;
  display: flex;
}

@keyframes mainTitleLoader {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

.mainTitle h1{
  /* margin-left: 3vw;
  margin-top: 2vw; */
  position: absolute;
  left: 4%;
  top: 5%;
  max-width: 100%;
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 0.4vw;
/*   text-align: center; 
 */  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  /* display: flex;
  align-items: baseline;
  position: relative; */
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#container{
  position: relative;
  width: 100%;
  max-height: 100%;
}

#contentLeft .dailyTitle h2{
  position: absolute;
  top: 20%;
  left: 5%;
  margin-top: 5vw;
  width: fit-content;
  /* margin-left: 20px;
  margin-bottom: 110px; */
  font-size: 1.5vw;
  padding: 1vw;
  border: solid 3px #fc0;
  animation: 1.5s ease-in-out both running appearBorder;
}

@keyframes appearBorder {
  0% {
    border-right-color: #222423;
    border-bottom-color: #222423;
    border-left-color: #222423;
    border-top-color: #222423;
  }
  25% {
    border-right-color: #222423;
    border-bottom-color: #222423;
    border-left-color: #222423;
    border-top-color: #fc0;
  }
  50% {
    border-right-color: #fc0;
    border-bottom-color: #222423;
    border-left-color: #222423;
    border-top-color: #fc0;
  }
  75% {
    border-right-color: #fc0;
    border-bottom-color: #fc0;
    border-left-color: #222423;
    border-top-color: #fc0;
  }
  100% {
    border-right-color: #fc0;
    border-bottom-color: #fc0;
    border-left-color: #fc0;
    border-top-color: #fc0;
  }
}

#contentLeft .paragraph p{
  transform: translate(10%, 130%);
  border: transparent;
  max-width: 40%;
/*   max-height: 100%;
 */  text-align: justify;
  font-size: 1vw;
  text-indent: 2vw;
  line-height: 1.7vw;
  margin: 0;
}

#contentRight #mediaContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(15%, -75%);
}

#contentRight #mediaContainer img{
  object-fit: scale-down;
  height: 60%;
  width: 60%;
}

#contentRight #mediaContainer iframe{
  position: absolute;
  left: 50%;
  bottom: 30%;
  height: 50%;
  width: 50%;
  border: transparent;
}

#datePickerContainer{
  position: absolute;
}

#datePickerContainer .datePicker{
  position: absolute;
  top: 80%;
  left: 64%;
  transform: translate(25%, 70%);
  height: 2vh;
  max-width: 100%;
  z-index: 99;
  font-family: 'Garamond', serif;
  font-size: 1vw;
}

#datePickerContainer .datePicker select{
  display: inline-block;
  font-size: 1vw;
  height: 2vw;
  width: 12vw;
  margin: 8px 0;
  transition: 0.1s;
  outline: none;
  border-radius: 4px;   
}

#datePickerContainer .datePicker select:focus{
  border: 3px solid #555;
}