body{
  max-width: 100%;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Garamond', serif;
}

#myVideo{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.5;
}

.mainTitle{
  position: relative;
  width: 100%;
  height: 5vw;
  transform: translate(0, 80%);
}

.mainTitleLoader{
  position: absolute;
  transform: translate(0, 60%);
  width: 100%;
  height: 2vw;
  background: #fc0;
  animation: mainTitleLoader 2s cubic-bezier(.74, .06, .4, .92) forwards;
}

@keyframes mainTitleLoader{
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

.mainTitle h1{
  position: absolute;
  left: 5%;
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 0.4vw;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#contentLeft{
  position: relative;
  width: 900px;
  height: 400px;
  transform: translate(15%, 30%);
}

#dailyTitleID{
  position: absolute;
  width: 100%;
  height: 4vw;
}

#dailyTitleID h2{
  position: absolute;
  font-size: 1.5vw;
  padding: 1vw;
  margin: auto;
  border: solid 3px #fc0;
  animation: 1.5s ease-in-out both running appearBorder;
}

@keyframes appearBorder {
  0% {
    border-right-color: #222423;
    border-bottom-color: #222423;
    border-left-color: #222423;
    border-top-color: #222423;
  }
  25% {
    border-right-color: #222423;
    border-bottom-color: #222423;
    border-left-color: #222423;
    border-top-color: #fc0;
  }
  50% {
    border-right-color: #fc0;
    border-bottom-color: #222423;
    border-left-color: #222423;
    border-top-color: #fc0;
  }
  75% {
    border-right-color: #fc0;
    border-bottom-color: #fc0;
    border-left-color: #222423;
    border-top-color: #fc0;
  }
  100% {
    border-right-color: #fc0;
    border-bottom-color: #fc0;
    border-left-color: #fc0;
    border-top-color: #fc0;
  }
}

#paragraphID{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  transform: translate(0, 50%);
}

#paragraphID p{
  text-align: justify;
  font-size: 1vw;
  text-indent: 2vw;
  line-height: 1.7vw;
  margin: 0;
}

#contentRight{
  position: relative;
  width: 700px;
  height: 400px;
  transform: translate(90%, -70%);
}

#mediaContainerID{
  position: absolute;
  width: 100%;  
  height: 20vw;
  left: 90%;
  top: 10%;
}

#mediaContainerID img{
  object-fit: scale-down;
  max-width: 120%;
  max-height: 120%;
}

#mediaContainerID iframe{
  height: 100%;
  width: 100%;
  border: transparent;
}

#datePickerContainer{
  position: absolute;
  height: 3vw;
  width: 8vw;
  left: 90%;
  top: 170%;
  z-index: 99;
}

#datePickerContainer .datePicker{
  font-family: 'Garamond', serif;
  font-size: 1vw;
}

@media screen and (max-width: 1920px) {

  #contentLeft{
    width: 600px;
    transform: translate(15%, 20%);
  }

  /*#paragraphID{
    transform: translate(0, 30%);
  }

  #paragraphID p{
    font-size: 1.3vw;
  }
*/
  #contentRight{
    width: 600px;
    transform: translate(50%, -80%);
  }

  #datePickerContainer{
    top: 110%;
    left: 90%;
    z-index: 99;
  }
}

@media screen and (max-width: 1440px) {
  #contentLeft{
    width: 600px;
    transform: translate(15%, 40%);
  }

  #contentRight{
    width: 600px;
    transform: translate(50%, -70%);
  }

  #datePickerContainer{
    top: 120%;
    left: 90%;
    z-index: 99;
  }
}

@media screen and (max-width: 600px) {
  .mainTitleLoader{
    display: none;
  }

  .mainTitle{
    width: 90vw;
    height: 10vw;
    transform: translate(0, 10%);
  }

  .mainTitle h1{
    font-size: 5vw;
    opacity: 1;
    animation: none;
  }

  #contentLeft{
    width: 100vw;
    height: 400px;
    transform: translate(3%, 10%);
  }

  #dailyTitleID{
    width: 100%;
    height: 10vw;
  }

  #dailyTitleID h2{
    font-size: 4vw;
    padding: 2vw;
    margin: auto;
    border: solid 3px #fc0;
    animation: 1.5s ease-in-out both running appearBorder;
  }

  #paragraphID{
    max-width: 90%;
    max-height: 100%;
    transform: translate(0, 40%);
  }

  #paragraphID p{
    text-align: justify;
    font-size: 3vw;
    line-height: 4vw;
  }

  #contentRight{
    width: 100vw;
    height: 50vw;
    transform: translate(3%, 10%);
  }

  #mediaContainerID{
    width: 80vw;  
    height: 50vw;
    left: 15%;
    top: 30%;
  }

  #mediaContainerID img{
    max-width: 90%;
    max-height: 90%;
  }

  #mediaContainerID iframe{
    transform: translate(-12%, -10%);
  }

  #datePickerContainer{
    top: 140%;
    left: 30%;
    z-index: 99;
  }
}